<div class="generic-container">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">My Orders</span></div>
        <div class="panel-body">
            <div class="wrapper">
                <div class="">
                    <a href="#orderDetails" title="Previous Order"> Previous Order </a>
                </div>
                <div class="">
                    <a href="#orderDetails" title="Today's Order"> Today's Order </a>
                </div>
                <div class="">
                    <a href="#orderDetails" title="Next Order"> Next Order </a>
                </div>
            </div>
        </div>
    </div>
</div>